<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "kz.smart-tim.app"
    versionCode = "10"
    version     = "1.1.0">

<name>ТЕСТ. Smart Tim</name>

<description>
    ВСЕ ДЛЯ НАРОДА !!! - Система все в одном!!!
</description>

<author>Tadapp</author>

<plugin name='cordova-plugin-splashscreen' />
<plugin name='cordova-plugin-inappbrowser' />

<preference name='phonegap-version' value='cli-8.0.0' />

<preference name='orientation' value='portrait' />

<gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

<preference name='windows-appx-target' value='8.1-win' />

<preference name='phonegap-version' value='cli-8.0.0' />

<preference name='android-build-tool' value='gradle' />
<preference name="android-targetSdkVersion" value="28" />
<preference name='orientation' value='portrait' />

<preference name='windows-appx-target' value='8.1-phone' />
<preference name='WindowsToastCapable' value='true' />

<preference name="SplashMaintainAspectRatio" value="true" />
<preference name="SplashScreenSpinnerColor" value="#007BFF" />


<platform name="android">
    <icon src="res/android/icon/bef37255968d2584c767d565178a8d19.png" density="ldpi" />
    <icon src="res/android/icon/82300f2b4b3ffe28ec4c88b78a556888.png" density="mdpi" />
    <icon src="res/android/icon/729a21a30293fd3dc6c4858a47150e0b.png" density="hdpi" />
    <icon src="res/android/icon/394f5896d2040db7027dc9a16eb8558d.png" density="xhdpi" />
    <icon src="res/android/icon/9381657054dc45d5b05db79453fe1b33.png" density="xxhdpi" />
    <icon src="res/android/icon/451d6505fad0052e556cd0095a18e8ae.png" density="xxxhdpi" />

    <splash src="res/android/screen/66dc61b64618d11bcd345bc4a0bfca6f.png" density="port-hdpi"/>
    <splash src="res/android/screen/55b09ffa72a8c42c296bbbbe0c958028.png" density="port-ldpi"/>
    <splash src="res/android/screen/4af5bd042964c9841059957fde335410.png" density="port-mdpi"/>
    <splash src="res/android/screen/ef49e8e2b28b4e854ad397ccac557e04.png" density="port-xhdpi"/>
</platform>

<platform name="ios">
	<icon src="res/ios/icon/73fddd9afc3ea8835405eaf5446c2adb.png" width="180" height="180" />
	<icon src="res/ios/icon/d2ce16d5e624120e32aefd6d9af3ddec.png" width="60" height="60" />
	<icon src="res/ios/icon/2921b61c4bc87436676a68fef6cb5dde.png" width="120" height="120" />
	<icon src="res/ios/icon/385499aca0c7650fa98376079dae7aba.png" width="76" height="76" />
	<icon src="res/ios/icon/198a40bab755512894cbfff57d1c6b2f.png" width="152" height="152" />
	<icon src="res/ios/icon/f612cb541f2cf6b0610ea25890817f36.png" width="57" height="57" />
	<icon src="res/ios/icon/8113d1122023392f2cf0c9d2016437af.png" width="114" height="114" />
	<icon src="res/ios/icon/d7765dc9549190a0a98f179410984a77.png" width="72" height="72" />
	<icon src="res/ios/icon/21a680065150df7f1a2cf445f44b64b7.png" width="144" height="144" />
	<icon src="res/ios/icon/3b67e6c05f9e04d8441539f401d586e7.png" width="167" height="167" />
	<icon src="res/ios/icon/e479dd6cb6c33f033340b5ab54855a26.png" width="29" height="29" />
	<icon src="res/ios/icon/302691e50a34132216d9dbdb997daba4.png" width="58" height="58" />
	<icon src="res/ios/icon/717b7f7f13c731abe1b75b41957411bb.png" width="87" height="87" />
	<icon src="res/ios/icon/fbe2f16a1c50800fbb097f1735cce96c.png" width="167" height="167" />

	<splash src="res/ios/screen/10e7221d05387beba679b0e43b314fcf.png" />
    <splash src="res/ios/screen/d9b9eb8d956720f80357dca6b6a99f2d.png" />
    <splash src="res/ios/screen/7dcc3b710feb3c85843a05e195afb1cb.png" />
    <splash src="res/ios/screen/d7ad0a10813ca8379a46ad73ec40f046.png" />
    <splash src="res/ios/screen/4035a13fba42b2864b2db9b320bf0f0e.png" />
    <splash src="res/ios/screen/d8ef5a3c5017c1d78e9bc232898d419e.png" />
</platform>

<platform name="winphone">
    <icon src="res/windows/icon/b16495ad540d7768d02e735c96ec2d4b.png" target="StoreLogo" />
    <icon src="res/windows/icon/1297ef611f58c359fe4d78db1198f4e0.png" target="Square30x30Logo" />
    <icon src="res/windows/icon/1d2667276d34b38ca126ac494eabf2f7.png" target="Square44x44Logo" />
    <icon src="res/windows/icon/bd3026eb8e4b7082fb277f6b5c29d7e7.png" target="Square70x70Logo" />
    <icon src="res/windows/icon/93a628cd684b6c5dcd1bb4eeb256d42e.png" target="Square71x71Logo" />
    <icon src="res/windows/icon/2e54bfd442a724920fdc3ed4c8f81431.png" target="Square150x150Logo" />
    <icon src="res/windows/icon/e7983457161e86e2bc4c7fe0174aa96d.png" target="Square310x310Logo" />

    <splash src="res/windows/screen/ed525a843e88b0fb643d669426216dc7.png" target="SplashScreen"/>
    <splash src="res/windows/screen/075db9d67830b544ffeb4578d67ea36e.png" target="SplashScreenPhone"/>
</platform>

<access origin='*'/> 
<plugin name='cordova-plugin-whitelist' />
<allow-intent href='http://*/*'/>
<allow-intent href='https://*/*'/>
<allow-intent href='tel:*'/>
<allow-intent href='sms:*'/>
<allow-intent href='mailto:*'/>
<allow-intent href='geo:*'/>

</widget>